<div class="side col m3 ">
  <div class="card sidebar-card">
    <h4>About</h4>
    <p>We are a family friendly center where you can drop off your kids for an hour or two so you can run some errands.</p>
  </div>
  <%= render 'shared/events' %>
  <%= render 'shared/schedule' %>
</div>
