<div class="container">  
	<div class="row contact">
		<h1 class="page-title" >Contact</h1>
    <div class="col m6">
      <p>Call us with questions at (435) 650-9773</p>
    </div>

    <div class="col m6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3074.242326693723!2d-110.79653839454456!3d39.599223316819696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874eb943460b3837%3A0x4125350828ad5089!2s1181+E+Main+St%2C+Price%2C+UT+84501!5e0!3m2!1sen!2sus!4v1498522584799" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
