@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import 'materialize';

body {
  background-color: #edecda;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.custom-nav a {
  color: #e23176;
}

.side-nav {
}

.side {
  margin-top: 25px;
}

a.active {
  background-color: #45a7de;
}
.card {
  visibility: hidden;
}
.custom-card {
  visibility: visible;
  height: 40rem;
}

.calendar {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.calendar iframe {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.sidebar-card {
  padding: 10px;
  visibility: visible;
  box-shadow: none;
  background-color: #bc3ecc
}

.sidebar {
  background-color: red;
}

.page-title {
  text-align: center;
  text-decoration: underline;
}
.logo {
  margin-top: 5px;
  padding: 10px;
}

.event-sidebar {
  background-color: yellow;
}

#footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}


.nav-img {
  vertical-align: middle;
}
.contact {
  margin-top: 20px;
}

.schedule {
  background-color: #e23176;
}

.time {
	text-align: right;
}
